body{
    background-image: url("../photos/forest.jpg");
    background-size: cover;
    height: 100%;
    width: 100%;
    color: rgba(255, 255, 255, 0.8);
    margin: 0;
}

#nav{
    display: block;
    background-image: linear-gradient(to bottom right,  #043927  ,  #18453B,  #043927);
    position: relative;
    height: 110px;
    width: 100%;
}

#nav ul{
    text-align: center;
    width: 80%;
    position: absolute;
    list-style-type: none;
    left: 50%;
    top: 35%;
    transform: translate(-50%, -50%);
}

#nav ul li{
    display: inline-block;
}

#nav ul li a{
    text-decoration: none;
    border-radius: 50%;
    margin-top: 20px;
    margin-left: 40px;
    margin-right: 40px;
    padding: 10px;
    background:  #5d6d7e;
    transition: 500ms;
}

a:visited{
    color: black;
}

#nav ul li a:hover{
    transition: 500ms;
    padding-top: 15px;
    padding-bottom: 15px;
}

hr{
    width: 80%;
}

p{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

#homePic{
    padding: 50px;
    position: relative;
    width: 400px;
    height: 300px;

}

#wrapper{
    background-color: #242021;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 70%;
    height: 100%;
}

main{
    margin-top: 100px;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
}

.row{
    padding-top: 50px;
    display: flex;
}

.column{
    flex: 50%;
    padding: 10px;
}

.button{
    width: 100px;
    background-color: red;
    padding: 10px;
    border-radius: 25%;
}

.button:hover{
    cursor: pointer;
}
