body{
    height: 100%;
    width: 100%;
    background-color: #242021;
    color: rgba(255, 255, 255, 0.8);
    margin: 0;
}

#nav{
    display: block;
    background-color: #5F9EA0;
    position: relative;
    top: 0;
    height: 110px;
    width: 100%;
}

#nav ul{
    text-align: center;
    width: 80%;
    position: absolute;
    list-style-type: none;
    left: 50%;
    top: 35%;
    transform: translate(-50%, -50%);
}

#nav ul li{
    display: inline-block;
}

#nav ul li a{
    text-decoration: none;
    border-radius: 50%;
    margin-top: 20px;
    margin-left: 40px;
    margin-right: 40px;
    padding: 10px;
    background: #FCEF91;
}

#nav ul li a:hover{
    padding-top: 15px;
    padding-bottom: 15px;
}


#homePic{
    padding: 50px;
    position: relative;
    width: 400px;
    height: 300px;

}

#wrapper{
    text-align: center;
    width: 100%;
    height: 100%;
}

main{
    padding-top: 100px;
}
